.cv-section.fixed.last-cv-section
  %h2.cv-section-name Education
  .cv-section-items
    .item.last-item
      %h2 Simon Fraser University 
      %h3 Business  
      %h3 (anticipated December 2014)

