.cv-section.fixed
  %h2.cv-section-name Summary
  .cv-section-items
    .item.last-item
      %ul
        %li Experience and expertise with
        %ul
          %li Ruby on Rails
          %li JavaScript (including jQuery, ExtJS)
          %li Amazon Web Services
        %li Extensive knowledge of
        %ul
          %li Web development (including mobile)
          %li System administration (Linux)
          %li Continuous Deployment & Lean Startup Practices
          %li
            Algorithms –
            = link_to "CS 341", "http://www.student.cs.uwaterloo.ca/~cs341/", :target => "_blank"
            (Algorithms), and
            = link_to "CS 466", "http://www.student.cs.uwaterloo.ca/~cs466/s10/info.phtml", :target => "_blank"
            (Advanced Algorithms)
        %li Excellent analytical/problem solving skills
        %li Strong interpersonal, verbal and written communication skills

