.cv-section.fixed
  %h2.cv-section-name Summary
  .cv-section-items
    .item.last-item
      %ul
        %li under construction ...
        %li eva was here
        %li hello
        %li what's up
        %li testing 
        
