.cv-section.fixed
  %h2.cv-section-name Summary
  .cv-section-items
    .item.last-item
      %ul
        %li Possess excellent communication and inter-personal skills through event organizing
        %li	Capable of working independently and as part of a team
        %li Ability to work with culturally diverse people 
        %li Strong knowledge with social media and online marketing
        %li Fluent in English and Mandarin
        
       
        
