.cv-section.fixed
  %h2.cv-section-name Technical Skills
  .cv-section-items
    .item.last-item
      %table
        %tr
          %td{:style=>'width:120px'} Web Frameworks:
          %td Rails 3.2 (and older), Sinatra, jQuery
        %tr
          %td Mobile Frameworks:
          %td Sencha, jQuery Mobile
        %tr
          %td Languages:
          %td Ruby, Javascript, SQL, Java, C#, zsh
        %tr
          %td Markup:
          %td HAML, SASS, ERB, XHTML, XML, CSS
        %tr
          %td Data:
          %td MySQL, MongoDB, Redis, SQL Server
        %tr
          %td Tools:
          %td Amazon Web Services (EC2, S3, RDS), Heroku, PhoneGap, Hudson, RedMine, Nagios, Capistrano, MacVim, XCode
        %tr
          %td Operating Systems:
          %td Mac OS, Linux, UNIX, Windows
        %tr
          %td Other:
          %td Apache, Nginx, Photoshop CS2, C++, iCalendar, Google Maps API, ConstantContact API, Monexa API, Twilio API, Google Analytics

