.cv-section.fixed
  %h2.cv-section-name Summary
  .cv-section-items
    .item.last-item
      %ul
        %li Photoshop (CS5)
        %li	Wordpress 
        %li	Google Analytics
        %li	Google Alerts
        %li	Pivotal / Campfire / Basecamp 
        %li	Video editing (iMovie)
        