.item.last-item 
  %h4 Sep 2011 – Dec 2011
  %h2 Student Caller 
  %h3 Annual Campaign Student Calling Program, SFU
    
  %br/
  %ul
    %li Contact alumni to try and raise funds for scholarships and bursaries over the phone
    %li	Build and maintain positive relationships with alumni
    %li	Inform alumni of benefits, services and upcoming events
     

    
      
   
