.item
  %h4 Dec 2010 - Present
  %h2 Technical Lead / Consultant
  %h3
    = link_to "The Learning Annex", "http://www.learningannex.com", :target => "_blank"
  %br/
  %ul
    %li In charge of infrastructure & development:
    %ul
      %li managed and deployed servers (AWS)
      %li migrated source control from SVN to Git
      %li set up various monitoring services (Hoptoad, NewRelic)
      %li set up bug tracking system (Redmine)

    %li Implemented and scaled numerous features and plugins:
    %ul
      %li scaled mailer to support millions of emails per month
      %li various APIs for partners such as Yahoo, GoingOn, and UStream
      %li registration and shopping cart
      %li several payment platforms (e.g. Amazon FPS, Zong Mobile Payments)
      %li etc.

