.item
  %h4 Aug 2011 - Present
  %h2 Founder &amp; CTO
  %h3
    = link_to "CoopStudent.com", "http://coopstudent.com", :target => "_blank"
  %br/
  %ul
    %li 
      Everything from customer research to marketing and deployment:

      %ul
        %li development (rails 3.1.1)
        %li server maintenance (amazon web services)
        %li marketing (twitter, craigslist)
        %li design (with a lot of inspiration)
