.item
  %h4 May - December 2008
  %h2 Web Developer
  %h3
    = link_to "Kinzin", "http://kinzin.com", :target => "_blank"
  %br/
  %p Increased developer efficiency by developing a streamlined unit testing framework.
  %p Designed a general client-side architecture for widgets such as comments, meta-data editors, photo album selectors, feedback forms, etc. The architecture involved integrating jQuery, Ruby, embedded Ruby, and stylesheets into a cohesive unit.
  %p Performed general maintenance (debugging, refactoring, etc.)

