.item
  %h4 Jan 2009 - March 2011
  %h2 Lead Developer
  %h3
    = link_to "Noomii", "http://noomii.com", :target => "_blank"
  %br/
  %ul
    %li{:style => "margin-bottom:10px"}
      Created, designed, developed and deployed Noomii's Coach Match System
    %li In charge of infrastructure & development:
    %ul
      %li managed and deployed servers (AWS, MySQL, shell scripts)
      %li automated backups of data and servers (AWS, Hudson, cron, shell scripts)
      %li implemented near-instantaneous one-button deployments (Git, Capistrano, Hudson)
    %li Evangelized continuous deployment and other Lean Startup practices
    %ul
      %li improved and streamlined workflow (Redmine, PivotalTracker)
      %li initiated migration from Staged to Continuous release process
      %li focused on problem solving using Five Whys root cause analysis technique
      %li focused on identifying and tracking actionable metrics
    %li Implemented numerous other features and plugins with Rails & jQuery
    %ul
      %li server-side metrics (Google Charts API, MySQL)
      %li complex notification management
      %li lead management
      %li billing system and interface to Monexa
      %li calendaring
      %li todos
      %li etc.
