.item
  %h4 Sep 2010 - Dec 2010
  %h2 Co-founder & CTO
  %h3
    = link_to "TouchKeyword", "http://touchkeyword.com", :target => "_blank"
  %br/
  %ul
    %li
      Designed and implemented keyword research tool for tablets (Sencha, Rails 3)
    %li
      Won top 10 honours in
      = link_to "Sencha Touch App Contest", "http://sencha.com/contest"
