.item
  %h4 May 2012- June 2012
  %h2 Online Marketing Intern
  %h3
    = link_to "Junction Marketing", "http://www.junctionmarketing.com", :target => "_blank"
  %br/
  %ul
    %li Assist with various marketing tasks
    
  