.item.last-item
  %h4 Jan 2012 – Present
  %h2 Marketing Assistant 
  %h3
    = link_to "Rentgeek", "http://www.rentgeek.com", :target => "_blank"
  %br/
  %ul
    %li Manage several social media channels (facebook, twitter, G+) to build company’s public image and attract more traffic to our website 
    %li Engage with potential customers online in order to build positive relationships with users
    %li Interview potential users to collect data for business development 
    %li Conduct survey online by using Google forum to collect data regarding our business model
    %li Increase Twitter followers by 400 through one contest with @vancitybuzz
    %li Increase Twitter followers from 200 to 1000+ thought out the whole work term 

    
      
      