.item.last-item 
  %h4 May 2011- present
  %h2 Executive 
  %h3
    = link_to "SFU Student Marketing Association", "http://www.sfubiz.ca/sma/", :target => "_blank"
  %br/
  %ul
    %li Cold call industry professionals to hold workplace tours, workshops for club members and ask the companies for sponsorship 
    %li	Coordinate with the Corporate Relations Director to arrange schedule and details for committee events 
    %li	Participate in brainstorming sessions as a project member for the Notesolution.com account
    %li	Assist project manager to carry out campaigns for Notesolution.com account, both on campus (street campaign) and online (social media)
     
    
    