.item.last-item
  %h4 Feb 2012 – Present
  %h2 Event Organizer 
  %h3
    = link_to "The 20’s & 30’s Social Meetup", "http://www.meetup.com/20s-30s-Social-Meetup/", :target => "_blank"
  %br/
  %ul
    %li Plan and execute various events such as laser tag, pub night, bowling etc. for groups of up to 30 people 
    %li Email members before and after events in order to build positive relationship with them
    %li Make reservation and schedule agenda for events 
    %li Coordinate with members and with other groups to carry out events successfully
    %li Signed up 100+ members within the first month 
    
    


     
    
